[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/usersim"]
	path = external/usersim
	url = https://github.com/microsoft/usersim.git
[submodule "external/ebpf-extension-common"]
	path = external/ebpf-extension-common
	url = https://github.com/LakshK98/ebpf-extension-common.git
