<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) Microsoft Corporation
  SPDX-License-Identifier: MIT
-->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalSource" value="C:\.tools\.nuget\packages" />
  </packageSources>
</configuration>